@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F0F7F4;
  color: #1C1C1C;
}

.bracket-line::after {
  content: '';
  position: absolute;
  right: -24px;
  top: 50%;
  width: 24px;
  height: 2px;
  background-color: #52B788;
}
